<%= form_with(model: sponsor_profile, local: true, id: "msform") do |form| %>
  <% if sponsor_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sponsor_profile.errors.count, "error") %> prohibited this sponsor_profile from being saved:</h2>

      <ul>
      <% sponsor_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<ul id="progressbar">
<% if @sponsor_profile.new_record? or @current_user.admin? %>
    <li class="active">Secret Sponsor Key</li>
    <li>Contact Info</li>
    <li>Complete</li>
<% else %>
     <li class="active">Contact Info</li>
    <li>Complete</li>
<% end %>
  </ul>
<% if @sponsor_profile.new_record? or @current_user.admin? %>
<fieldset>

  <div class="form-group">
    <%= form.label :secret_key %>
    <%= form.number_field :secret_key, class: 'form-control', :required => 'true' %>
  </div>
   <input type="button" name="next" class="next action-button" value="Next" />
</fieldset>
<% end %>

<fieldset>
<div class="form-group">
    <%= form.label :organization_name %>
    <%= form.text_area :organization_name, id: :sponsor_profile_organization_name,class: 'form-control', :required => 'true' %>
  </div>

<div class="form-group">
    <%= form.label :first_name %>
    <%= form.text_area :first_name, id: :sponsor_profile_first_name, class: 'form-control' %>
  </div>

<div class="form-group">
    <%= form.label :last_name %>
    <%= form.text_area :last_name, id: :sponsor_profile_last_name,class: 'form-control' %>
  </div>

<div class="form-group">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, id: :sponsor_profile_phone_number,class: 'form-control' %>
  </div>

<div class="form-group">
    <%= form.label :street, "Address" %>
    <%= form.text_field :street, id: :sponsor_profile_street,class: 'form-control' %>
  </div>

<div class="form-group">
    <%= form.label :city %>
    <%= form.text_field :city, id: :sponsor_profile_city,class: 'form-control' %>
  </div>

<div class="form-group">
    <%= form.label :zip %>
    <%= form.text_field :zip, id: :sponsor_profile_zip,class: 'form-control' %>
  </div>
  <% if @sponsor_profile.new_record? or @current_user.admin? %>
   <input type="button" name="previous" class="previous action-button" value="Previous" />
  <% end %>
   <input type="button" name="next" class="next action-button" value="Next" />

</fieldset>

<fieldset>
<div class="form-group">
    <%= form.label :employee_count %>
    <%= form.number_field :employee_count, id: :sponsor_profile_employee_count,class: 'form-control' %>
  </div>

<div class="form-group">
    <%= form.label :contact_time %>
    <%= form.text_field :contact_time, id: :sponsor_profile_contact_time,class: 'form-control' %>
  </div>

<div class="form-group">
    <%= form.label :tos %>
    <%= form.check_box :tos, id: :sponsor_profile_tos %>
  </div>
<div class="form-group">
  <label>Your Logo</label>
    <%= image_tag @sponsor_profile.logo_url(:thumb) if @sponsor_profile.logo? %>
    <%= form.file_field :logo %>
  </p>
    <label>
      <%= form.check_box :remove_logo %>
      Remove logo
    </label>
  </div>

 <input type="button" name="previous" class="previous action-button" value="Previous" />
  <br />
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
</fieldset>
<% end %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" type="text/javascript"></script>

<script>

//jQuery time
var current_fs, next_fs, previous_fs; //fieldsets
var left, opacity, scale; //fieldset properties which we will animate
var animating; //flag to prevent quick multi-click glitches

$(".next").click(function(){

        
        if (animating) return false;
        animating = true;

  
  current_fs = $(this).parent();
  next_fs = $(this).parent().next();
  
  //activate next step on progressbar using the index of next_fs
  $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
  
  //show the next fieldset
  next_fs.show(); 
  //hide the current fieldset with style
  current_fs.animate({opacity: 0}, {
    step: function(now, mx) {
      //as the opacity of current_fs reduces to 0 - stored in "now"
      //1. scale current_fs down to 80%
      scale = 1 - (1 - now) * 0.2;
      //2. bring next_fs from the right(50%)
      left = (now * 50)+"%";
      //3. increase opacity of next_fs to 1 as it moves in
      opacity = 1 - now;
      current_fs.css({
        'transform': 'scale('+scale+')',
        'position': 'absolute'
      });
      next_fs.css({'left': left, 'opacity': opacity});
    }, 
    duration: 800, 
    complete: function(){
      current_fs.hide();
      animating = false;
    }, 
    //this comes from the custom easing plugin
    easing: 'easeInOutBack'
  });
});

$(".previous").click(function(){
  if(animating) return false;
  animating = true;
  
  current_fs = $(this).parent();
  previous_fs = $(this).parent().prev();
  
  //de-activate current step on progressbar
  $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
  
  //show the previous fieldset
  previous_fs.show(); 
  //hide the current fieldset with style
  current_fs.animate({opacity: 0}, {
    step: function(now, mx) {
      //as the opacity of current_fs reduces to 0 - stored in "now"
      //1. scale previous_fs from 80% to 100%
      scale = 0.8 + (1 - now) * 0.2;
      //2. take current_fs to the right(50%) - from 0%
      left = ((1-now) * 50)+"%";
      //3. increase opacity of previous_fs to 1 as it moves in
      opacity = 1 - now;
      current_fs.css({'left': left});
      previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
    }, 
    duration: 800, 
    complete: function(){
      current_fs.hide();
      animating = false;
    }, 
    //this comes from the custom easing plugin
    easing: 'easeInOutBack'
  });
});

$(".submit").click(function(){
  return false;
})
</script>

