<div class="form-container">
<%= form_with(model: sponsor_profile, local: true) do |form| %>
  <% if sponsor_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sponsor_profile.errors.count, "error") %> prohibited this sponsor_profile from being saved:</h2>

      <ul>
      <% sponsor_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :secret_key %>
    <%= form.number_field :secret_key, class: 'form-control', :required => 'true' %>
  </div>
<div class="form-group">
    <%= form.label :organization_name %>
    <%= form.text_area :organization_name, id: :sponsor_profile_organization_name,class: 'form-control', :required => 'true' %>
  </div>

<div class="form-group">
    <%= form.label :first_name %>
    <%= form.text_area :first_name, id: :sponsor_profile_first_name, class: 'form-control' %>
  </div>

<div class="form-group">
    <%= form.label :last_name %>
    <%= form.text_area :last_name, id: :sponsor_profile_last_name,class: 'form-control' %>
  </div>

<div class="form-group">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, id: :sponsor_profile_phone_number,class: 'form-control' %>
  </div>

<div class="form-group">
    <%= form.label :street, "Address" %>
    <%= form.text_field :street, id: :sponsor_profile_street,class: 'form-control' %>
  </div>

<div class="form-group">
    <%= form.label :city %>
    <%= form.text_field :city, id: :sponsor_profile_city,class: 'form-control' %>
  </div>

<div class="form-group">
    <%= form.label :zip %>
    <%= form.text_field :zip, id: :sponsor_profile_zip,class: 'form-control' %>
  </div>

<div class="form-group">
    <%= form.label :employee_count %>
    <%= form.number_field :employee_count, id: :sponsor_profile_employee_count,class: 'form-control' %>
  </div>

<div class="form-group">
    <%= form.label :contact_time %>
    <%= form.text_field :contact_time, id: :sponsor_profile_contact_time,class: 'form-control' %>
  </div>

<div class="form-group">
    <%= form.label :tos %>
    <%= form.check_box :tos, id: :sponsor_profile_tos %>
  </div>
  <label>Your Logo</label>
    <%= image_tag @sponsor_profile.logo_url(:thumb) if @sponsor_profile.logo? %>
    <%= form.file_field :logo %>
  </p>

  <p>
    <label>
      <%= form.check_box :remove_logo %>
      Remove logo
    </label>
  </p>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>