<div class="container">
  <hr class="header-line-top" />

<h1 style = "text-align: center">Index of All Sponsors</h1>
<hr class="header-line-bottom" />
<div class="row">
<table class="table table-striped">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Sponsor</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Contact time</th>
      <th>Credit assessment</th>
      <th>Credit debt</th>
      <th>Credit score above</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sponsor_profiles.each do |sponsor_profile| %>
      <tr>
        <td><%= sponsor_profile.first_name %></td>
        <td><%= sponsor_profile.last_name %></td>
        <td><%= sponsor_profile.organization_name %></td>
        <td><%= sponsor_profile.user.email %></td>
        <td><%= sponsor_profile.phone_number %></td>
        <td><%= sponsor_profile.street %></td>
        <td><%= sponsor_profile.city %></td>
        <td><%= sponsor_profile.zip %></td>
       
        <td><%= link_to 'Update Profile', edit_sponsor_profile_path(sponsor_profile) %></td>
        <td><%= link_to 'Destroy', sponsor_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>