<div class="container-fluid">
<p id="notice"><%= notice %></p>
<% @sponsor_profiles.each do |sponsor_profile| %>
  <%= image_tag sponsor_profile.logo_url(:thumb) if sponsor_profile.logo? %>
<% end %>
<h1><%= @current_user.sponsor_profile.organization_name %>'s Sponsor Profile</h1>

<div class="col-md-6">
<table class="table table-striped">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Organization name</th>
      <th>Phone number</th>
      <th>Street</th>
      <th>City</th>
      <th>Zip</th>
      <th>Employee count</th>
      <th>Contact time</th>
      <th>Tos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sponsor_profiles.each do |sponsor_profile| %>
      <h1>Your Unique ID: <%= sponsor_profile.id %></h1>
      <tr>
        <td><%= sponsor_profile.first_name %></td>
        <td><%= sponsor_profile.last_name %></td>
        <td><%= sponsor_profile.organization_name %></td>
        <td><%= sponsor_profile.phone_number %></td>
        <td><%= sponsor_profile.street %></td>
        <td><%= sponsor_profile.city %></td>
        <td><%= sponsor_profile.zip %></td>
        <td><%= sponsor_profile.employee_count %></td>
        <td><%= sponsor_profile.contact_time %></td>
        <td><%= sponsor_profile.tos %></td>
    <% if current_user.role?('sponsor') %>

        <td><%= link_to 'Show', sponsor_profile %></td>
        <td><%= link_to 'Edit', edit_sponsor_profile_path(sponsor_profile) %></td>
        <td><%= link_to 'Destroy', sponsor_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
</div>
