<div class="container">
<p id="notice"><%= notice %></p>
<div class="row">
  <% @user_profiles.each do |user_profile| %>
    <h1>Dashboard for <%= user_profile.first_name %></h1>
    <h2><%= user_profile.sponsor_profile.organization_name %></h2>
    <%= image_tag user_profile.sponsor_profile.logo.url(:thumb) %>
  <% end %>
</div>
<div class="row">
<div class="col-md-6">
<table class="table table-striped">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Sponsor</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Contact time</th>
      <th>Credit assessment</th>
      <th>Credit debt</th>
      <th>Credit score above</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_profiles.each do |user_profile| %>
      <tr>
        <td><%= user_profile.first_name %></td>
        <td><%= user_profile.last_name %></td>
        <td><%= user_profile.sponsor_profile.organization_name %></td>
        <td><%= user_profile.user.email %></td>
        <td><%= user_profile.phone_number %></td>
        <td><%= user_profile.street %></td>
        <td><%= user_profile.city %></td>
        <td><%= user_profile.state %></td>
        <td><%= user_profile.zip %></td>
        <td><%= user_profile.contact_time %></td>
        <td><%= user_profile.credit_assessment %></td>
        <td><%= user_profile.credit_debt %></td>
        <td><%= user_profile.credit_score_above %></td>
        <td><%= link_to 'Update Profile', edit_user_profile_path(user_profile) %></td>
        <td><%= link_to 'Destroy', user_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>