<div class="container-fluid profile">

<hr class="header-line-top" />
  <h1>User Profile >> <%= @user_profile.first_name %> <%=@user_profile.last_name %>'s Profile</h1>
<hr class="header-line-bottom" />

  <div class="profile-container col-md-5">

        <h2>Vital Info</h2>
        <hr class="header-line-bottom-left" />
        <ul>
          <li><%= @user_profile.first_name %> <%= @user_profile.last_name %></li>
          <li><%= @user_profile.sponsor_profile.organization_name %></li>
      </ul>

        <h2>Contact Info</h2>
      <hr class="header-line-bottom-left" />
          <ul>
            
            <li><%= @user_profile.phone_number %></li>
            <li><%= @user_profile.street %></li>
            <li><%= @user_profile.city %></li>
            <li><%= @user_profile.zip %></li>
            <li><%= @user_profile.contact_time %></li>
          </ul> 
      
      <h2>Opt-in Choices</h2>
      <hr class="header-line-bottom-left" />
      <ul>
        <li><%= @user_profile.contact_time %></li>
        <li><%= @user_profile.credit_assessment %></li>
        <li><%= @user_profile.credit_debt %></li>
        <li><%= @user_profile.credit_score_above %></li>    
      </ul> 
      <ul>
      <li><%= link_to 'Update Profile', edit_user_profile_path(@user_profile) %></li>
        <li><%= link_to 'Destroy', @user_profile, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>

    </div>
    <div class="courses">
  <%= render 'courses_index' %>


</div><!--/courses-->
  </div>